<h1>Show Order</h1>

Order for <%= patient_name(@order.patient) %>:<br>
<%= @order.prescription.name %> at <%= coordinates(@order.location) %>

<p>
  <span><%= link "Edit", to: Routes.order_path(@conn, :edit, @order) %></span>
  <span><%= link "Back", to: Routes.order_path(@conn, :index) %></span>
</p>
